<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeavyUser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F0695771F7A7E4000A248AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F0695891F7A7E4100A248AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F0695941F7A7E4100A248AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
